* {  
  margin: 0;
  padding: 0;
}


body {
  background-color: #e9eef2;
  font-family: Helvetica,Arial,sans-serif
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  color: steelblue;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  max-width: calc(5 * 16rem);
  margin: 1em auto;
  border-bottom: 1px solid #d9d9d9;
}

.author {
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}

.article {
  padding: 0;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  margin: .5em;
}

.news-content {
  padding:10px;
}

#headlines {
  max-width: calc(5 * 15rem);
  min-width: 25em;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 200px;
  vertical-align: middle;
  
}

button {
  appearance: none !important;
	cursor: pointer;
	background-color: black;
	background-image: linear-gradient( 135deg, rgb(57, 93, 148) 0%, rgb(77, 143, 197) 100%);
	border: none;
	border-width: 2px;
	border-radius: 3px;
	color: white;
	font-size: 18px;
	line-height: 2.5;
	padding: 0 1em;
	font-weight: 500;
	letter-spacing: 1px;
	transition: all 150ms;
	min-width: 144px;
	display: block;
	margin: 1em auto;
}

button:hover {
  background-image: linear-gradient( 135deg, rgb(77, 143, 197) 100%)10%, rgb(57, 93, 148) 100% !important;
  opacity: 0.75;
}


.search {
  margin: 0 auto;
}

/* FLEXBOX */

#headlines {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 calc(50% - 1em);
}

@media screen and ( min-width:30em) {
  .article {
    flex: 0 1 calc(100% - 1em);
  }
}

@media screen and ( min-width:48em) {
  .article {
    flex: 0 1 calc(25% - 1em);
  }
}

@media screen and ( min-width:62em) {
  .article {
    flex: 0 1 calc(33% - 1em);
  }
  h1 {
    font-size: 1.5em;
  }
}